{% extends 'accounts/main.html' %}

{% block content %}


<br>

<div class="row">
	<div class="col-md-5">
		<h5>Teachers:</h5>
		<hr>
		<div class="card card-body">
	
			<table class="table table-sm">
				<tr>
					<th>Teacher</th>
					<th>School</th>
				</tr>
				{% for teacher in teachers %}
					<tr>
						<td>{{teacher.user.username}} </td>
						<td>{{teacher.school}} </td>
					</tr>	

				{% endfor %}
					

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Activities record</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Teacher</th>
					<th>Activity Type</th>
					<th>Date </th>
					<th>CEU</th>
					
				</tr>			
				{% for activity in activities %}
					<tr>
						<td>{{activity.pdarecord.teacher}} </td>
						<td>{{activity.type.get_category_display}} </td>
						<td>{{activity.date}} </td>
						<td>{{activity.CEUs}} </td>
						
					</tr>	

				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% include 'accounts/status.html' %}

{% endblock %}

