<!-- html from bootstrap for navigation bar -->
{% load static %}
{% load group_tags %}


<style>
  .name-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static '/media/logo.png' %}" width="100" height="40" alt="ISEI Logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

        {% if request.user|in_group:"admin"%}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin_dashboard' %}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_dashboard' %}">Teachers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_dashboard' %}">Activities</a>
              </li>
        {% endif %}

        {% if request.user|in_group:"principal"%}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'principal_dashboard' %}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'teacher_certification' %}">Teacher Certification</a>
              </li>
              <li class="nav-item dropdown">
                  <div class="dropdown">
                        <button class="dropbtn">Documents and Resources
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="#">ISEI Codebook</a>
                          <a href="#">Teacher Certification Codebook</a>
                          <a href="#">Evaluation Forms</a>
                        </div>
                  </div>
                <!-- <a class="nav-link" href="{% url 'principal_dashboard' %}">Documents and Resources</a> -->
            </li>
              <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher_dashboard' %}">My Dashboard </a>
              </li>

              <li class="nav-item">
                    <a class="nav-link" href="{% url 'myPDAdashboard' request.user.id %}">My PD Activities</a>
              </li>

            <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_settings' %}">Settings</a>
              </li>
          {% else %}

              {% if request.user|in_group:"teacher"%}
                   <li class="nav-item active">
                    <a class="nav-link" href="{% url 'teacher_dashboard' %}">Home </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'myPDAdashboard' request.user.id %}">PD Activities</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_settings' %}">Settings</a>
                  </li>
              {% endif %}
        {% endif %}
        </ul>
  </div>


  <span class ="name-msg"> {{request.user.first_name}} </span>
  <span class ="name-msg"> <a href="{% url 'logout' %}">Logout</a> </span>
</nav>