{% extends 'accounts/main.html' %}


{% block content %}
    <div class="row">

        <div class="col-sm-4">
            <table class="table table-sm table-light">
                  <thead class="table-light">
                    <th>2020-2021 Reporting</th>
					<th>Due Date</th>
                    <th>Submitted</th>

                  </thead>
                  <tbody>
                  <tr> <td><a href="">Student Reporting</a> </td> <td>August 30, 2020</td> <td><input type="checkbox"></td> </tr>
                  <tr> <td><a href="">Employee Summary </a></td> <td>August 30, 2020</td> <td><input type="checkbox"></td></tr>
                  <tr> <td><a href="">Opening Report </a></td> <td>August 30, 2020</td> <td><input type="checkbox"></td></tr>
                  <tr> <td><a href="">190-Day Report </a></td> <td>August 30, 2020</td><td><input type="checkbox"></td> </tr>
                  <tr> <td><a href="">Safety and Maintenance</a> </td> <td>August 30, 2020</td><td><input type="checkbox"></td> </tr>
                  <tr> <td><a href="">Year-end In-service Report</a> </td> <td>June 1, 2021</td><td><input type="checkbox"></td> </tr>

                  </tbody>
                </table>
             <table class="table table-sm table-light">
                  <thead class="table-light">
                    <th>Delinquent Reporting</th>
					<th>Due Date</th>
                    <th>Submitted</th>

                  </thead>
                  <tbody>
                  <tr> <td><a href="">Safety and Maintenance </a></td> <td>August 30, 2019</td><td><input type="checkbox"></td> </tr>
                  <tr> <td><a href="">Year-end Inservice Report</a> </td> <td>June 1, 2020</td><td><input type="checkbox"></td> </tr>

                  </tbody>
                </table>


        </div>
    </div>



{% endblock %}