<br>

<div class="row">
	

	<div class="col">
		<div class="col-md-3">
			<div class="card text-center text-black  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h8 class="card-title">Total Teachers</h8>
			  	</div>
			  	<div class="card-body">
			    	<h8 class="card-title">{{total_teachers}}</h8>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md-5">
			<div class="card text-center text-black  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h8 class="card-title">Total Activities</h8>
			  	</div>
			  	<div class="card-body">
			    	<h8 class="card-title">{{total_activities}}</h8>
			  	</div>
			</div>
		</div>
	</div>
</div>